{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

<p>Giving What We Can Glasgow is launching its first fundraising challenge! Over the course of a week, seven different charity societies willcompete all over the city with different fundraising campaigns and events. The charity that is the most effective wins.
</p>
<p>Giving What We Can is an international society dedicated to eliminating poverty in the developing world. The members of Giving What We Can are people who realise that it is easier than is often thought to do large amounts of good in the world, and who have consequently made a commitment to give 10% of their income to the most effective charities they can find. By giving a relatively small amount of money to the most effective causes, we can make a huge difference in the lives of hundreds or thousands of people.</p>
<img src="{% static 'images/field.jpg' %}" />
<p>GWWC’s message is that you can bring about huge amounts of good in the world at little cost to yourself. This is achievable because:
<p>• Giving to the most cost-effective charities massively increases the power of your donations (some health interventions are up to a staggering 10,000 times more effective than many of those currently funded by the NHS).</p>
<p>• Donating a significant portion of your income is easier than most people think.</p>
<p>
As a result, GWWC carries out and publishes research into the cost-efficiency of different charities and encourages people to take the Pledge to Give - a lifelong pledge to donate 10% of your income to those charities that you judge to be the most cost-effective at fighting poverty in the developing world.
</p>
<p>Meetings <font color=#6c0000><b>every Tuesday at 5 pm at the entrance of the Fraser Building</b></font>, in front of the library.</p>
{% endblock %}
