{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}

<style> 
#countdown {
  width: 250px;
  height: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(108, 0, 0);
} 
</style>

<link rel="stylesheet" type="text/css" href="{% static 'styles/jquery.countdown.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'scripts/jquery.plugin.js' %}"></script>
<script src="{% static 'scripts/jquery.countdown.js' %}"></script>

<script>
$(function () {
  $('#countdown').countdown({until: new Date(2015, 3-1, 16), description: 'remaining until end of challenge'});
});
</script>

{% endblock %}

{% block body %}
<h2>The first fundraising challenge from Giving What We Can Glasgow has begun!</h2> 
<p>The charity currently in lead is <a href="/game/charity/{{leading_charity.slug}}/">{{leading_charity.title}}</a>. The challenge will end on March 15th (Sunday) at midnight.</p>
<div id="countdown"></div>
{% endblock %}
